
# /
/build*
/latex
/xml
/html
/seiscomp.tag
/*.kdev4
/*.config
/*.creator
/*.files
/*.includes
/*.user
/.mu_repo

# Enable only known src subdirectories
/src/base/*
!/src/base/CMakeLists.txt
!/src/base/README
/src/extras/*
!/src/extras/CMakeLists.txt
!/src/extras/README
